

  <!-- JavaScript section-->
  <script src="jquery/dist/jquery.min.js"></script>
  <script src="bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="Scripts/app.js"></script>


  <!--Footer for all pagesb-->
  <div class="footer">

  </br></br></br></br></br></br>
    <hr>
    <p>&copy; AnTech Solution- Reach me <a href="https://www.linkedin.com/in/anupom-roy/"><i class="fa fa-lg fa-linkedin"></i> </a></p>
 </div>

</body>

</html>