<% include ./partials/header.ejs %>
  <main class="container"> 
    <div class="jumbotron">
      <h1 class="display-4">Welcome to    <%= title %> </h1>
      
<% if(title=="Contact"){ %>
  <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
<% } %>
<% if(title=="Home"){ %>
  Our Mission
Gourmet food Online system is an intermediary between the traditional gourmet food lovers and the cooks. 
Food lovers can order the food of their choice online, where as cooks can register themselves in the system, 
and cook food in their home as per the online order received from the customers. 
Our mission is to provide the service that connects both traditional gourmet food lovers, 
and the gourmet food cooks, to meet the demand of traditional authentic test of the customers in Toronto, Canada.
<% } %>


    </div>

  </main>

  <% include ./partials/footer.ejs %>