<% include ./partials/header.ejs %>
  <main class="container"> 
    <div class="jumbotron">
     
  <table style="width: 103%">
<% if(title=="Contact"){ %>
  
  <tr>
      <td>
        <h2>Aupom Roy</h2>
        E-mail: anupomr@gmail.com <br>
        Phone: +1 (647) 704-7186<br><br>
      </td>  
      <td> 
          <h2>Ramesh Bhandari</h2>  
          E-mail: rpbhandari1@gmail.com <br>
          Phone: +1 (647) 859-7627<br><br>
      </td>
    </tr>

    <tr>
        <td>
          
          <h2>Shivaraj Raut</h2>
          E-mail: shivaraj.raut@gmail.com <br>
          Phone: +1 (647) 741-3712<br><br>
        </td>  
        <td> 
            <h2>Andrzej Popowski</h2>
            E-mail: andrp2009@gmail.com <br>
            Phone: +1 (437) 999-6464<br><br>
        </td>
      </tr>
  


  <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
<% } %>

<% if(title=="Home"){ %>
 
  <tr><h3>AnTech Solution</h3> </tr>
 <tr>
   <td>
    <h6>Our Mission  </h6>    <br>
    Genuinely <b>Caring</b>  Radically <b>Simple</b> Always <b>Professional </b><br>
    <p> We make your goals our own- we deliver excellence everyday- we show appreciation for your business</p>
   
    
   </td>
   <td> <img src="Assets/images/homeimg.png" ></td>
 </tr>
 <ul><li>
  Build a website.
</li>
<li>
    maintaince website.
</li>
<li>
    web hosting domain registration.
</li>
<li>
   Online training .
</li>
</ul></td>
 <tr>
  <td class="fieldLebel"></td>
  <td><input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Submit" name="submit"></td>
</tr>

<% } %>


<% if(title=="About"){%>
  <tr>
<td>
    <h3>About us</h3>
    <p>
      We have dedicated offshore and onshore team 24/7 support of your website. 
   </p>
</td>
<td>
    <img src="Assets/images/homeimg.png" height="350" width="550" >
</td>
  </tr>
 
</p>
    <% }else if(title=="FeedBack"){%>
    <h3>Please Login First</h3>  <br> 
      
    <img src="Assets/images/homeimg.png" >

    <% } else if(title=="Service"){%>
      <tr><h3>Our Services</h3></tr>
      <tr>
      <p>We provide online service, which helps to connect customized website. 
        We provide the following services to  the clients.</p>
      </tr>
      <td>
<ul><li>
    Build a website.
  </li>
  <li>
      maintaince website.
  </li>
  <li>
      web hosting domain registration.
  </li>
  <li>
     Online training .
  </li>
</ul></td>
<td>

    <img src="Assets/images/homeimg.png" height="350" width="550">
</td>
<%} else {%>
      <b></b>
    <% } %>
   

  </table>

    </div>

  </main>

  <% include ./partials/footer.ejs %>