<% include ./partials/header.ejs %>
  <main class="container"> 
    <div class="jumbotron">
     
  <table style="width: 103%">
<% if(title=="Contact"){ %>
  
  <tr>
      <td>
        <h2>Aupom Roy</h2>
        E-mail: anupomr@gmail.com <br>
        Phone: +1 (647) 704-7186<br><br>
      </td>  
      <td> 
          <h2>Ramesh Bhandari</h2>  
          E-mail: rpbhandari1@gmail.com <br>
          Phone: +1 (647) 859-7627<br><br>
      </td>
    </tr>

    <tr>
        <td>
          
          <h2>Shivaraj Raut</h2>
          E-mail: shivaraj.raut@gmail.com <br>
          Phone: +1 (647) 741-3712<br><br>
        </td>  
        <td> 
            <h2>Andrzej Popowski</h2>
            E-mail: andrp2009@gmail.com <br>
            Phone: +1 (437) 999-6464<br><br>
        </td>
      </tr>
  


  <a class="btn btn-primary" href="/contact-list" role="button">Contact List</a>
<% } %>

<% if(title=="Home"){ %>
 
  <tr><h3>AnTech Solution</h3> </tr>
 <tr>
   <td>
    <h6>Our Mission  </h6>    <br>
    Genuinely <b>Caring</b>  Radically <b>Simple</b> Always <b>Professional </b><br>
    We make your goals our own- we deliver excellence everyday- we show appreciation for your business
    
   </td>
   <td> <img src="Assets/images/homeimg.png" ></td>
 </tr>
 

<% } %>


<% if(title=="About"){%>
  <tr>
<td>
    <h3>About us</h3>
    <p>Gourmet food online Inc is headquartered in Toronto and incorporate in the province of Ontario. The company is owned by Andrez, Anupam, Ramesh, and Shiva. Andrez has 10 years of Business System Analyst experience, Anupam has 10 plus years of ecommerce management experience, Ramesh has 10 years of ecommerce Marketing experience, and Shiva is an expert in food handling. All the partners will be given the role as per their expertise.
   
</td>
<td>
    <img src="Assets/images/chef.jpg" height="350" width="550" >
</td>
  </tr>
 
</p>
    <% }else if(title=="FeedBack"){%>
    <h3>Please Login First</h3>  <br> 
      
    <img src="Assets/images/tmg.jpg" >

    <% } else if(title=="Service"){%>
      <tr><h3>Our Services</h3></tr>
      <tr>
      <p>We provide online service, which helps to connect traditional gourmet food lovers and the gourmet food cooks. 
        We consider both the parties as our client and provide the following services to both the clients.</p>
      </tr>
      <td>
<ul><li>
    Register to become a Traditional gourmet cook and earn money from home.
  </li>
  <li>
      Register to Order traditional gourmet food online and enjoy the authentic test from back home.
  </li>
  <li>
      Registered customer can order food online, and registered cook receives the order online.
  </li>
  <li>
      Customer can pay for food online, and Cooks receives the pay cheque from the company.
  </li>
</ul></td>
<td>

    <img src="Assets/images/service.jpg" height="350" width="550">
</td>
<%} else {%>
      <b></b>
    <% } %>
   

  </table>

    </div>

  </main>

  <% include ./partials/footer.ejs %>